.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
nav ul li{
  display: inline-block;
  float: left;
}
nav ul li a{
  text-decoration: none;
  margin: 0 10px;
}
nav{
  float: right;
}
#chat_ui div{
  display: inline-block;
}
#friends_list{
  border: 2px solid black;
  width: 100px;
  overflow-x: hidden;
}
#friends_list div{
  display: list-item;
  list-style-type: none;
  padding-left: 10px;
  text-align: left;
  width: 90px;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

}
#friends_list h4 {
  margin-left: 10px;
}
#friends_list div:hover {
  color: red
}
.current_friend {
  color: white !important;
  background-color: gray;
}
#chat_window{
  border: 2px solid black;
  height: 400px;
  width: 450px;
}
#chat_window p{
  margin-left: 10px;
}
#chat_window h3{
  margin-left: 10px;
  text-align: center;
}
#message_box{
  width: 500px;
}
.user1 {
  float: left;
}
.user2 {
  float: right;
}
#updog_logo {
  color: #4682B4;
  text-decoration: none;
}
a {
  color: #4682B4;
  font-weight: bold;
  text-decoration: none;
}