<h2>What's up, dog?</h2>
<div id="chat_ui">
  <div id="friends_list" style="overflow-y: scroll; height:400px;">
    <h4>Friends</h4>
    <hr>
    <% @users.each do |user| %>
      <div><%= user.username %></div>
    <% end %>
  </div>
  <div id="chat_window">
    <p class="user1">Hi!</p>
    <p class="user2">Hey!</p>
  </div>

  <div class="user_input">
    <input id="message_box" type="textarea" name="message"></input>
    <input type="submit" name="submit" value="Send"></input>
  </div>
</div>
