<div id="chat_ui">
  <div id="friends_list" style="overflow-y: scroll; height:400px;">
    <h4>Friends</h4>
    <hr>
    <% @users.each do |user| %>
      <div><%= user.username %></div>
    <% end %>
  </div>
  
  <div id="chat_window" style="overflow-y: scroll; height:400px;">
  </div>

  <div class="user_input">
    <input id="message_box" type="textarea" name="message"></input>
    <input id="submit_message" type="submit" name="submit" value="Send"></input>
  </div>
</div>
