<h2>Chat</h2>
<div id="chat_ui">
  <div id="friends_list">
    <h4>Friends</h4>
    <hr>
    <% @users.each do |user| %>
      <div><%= user.username %></div>
    <% end %>
  </div>
  <div id="chat_window">
    <p class="user1">Hi!</p>
    <p class="user2">Hey!</p>
  </div>
</div>
