<h1>UpDog</h1>


<% if session[:user_id] %>
<%= erb :chat %>
<% else %>
<p>What's UpDog?</p>
<p>An online chat program.<p>
<p><a href="/login">Login</a> or <a href="/signup">Signup</a> to start chatting!<p>
<% end %>
