<h1>Signup</h1>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>Username:</td>
    <td><input type="text" name="signup[username]"></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input type="password" name="signup[password]"</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><input type="password" name="signup[email]"</td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Submit"</td>
  </tr>
</table>
